<div className="locationInfo">
    <div className="locationInfo-content">
        
            <div className="address-coordinates">
                <!-- <AddressCoordinates coordinates={coordinates}/> -->
                 <app-address-coordinates></app-address-coordinates>
            </div>
        
        
        <div className="popular-address">
            <!-- <PopularAddress popularSearch={popularSearch} /> -->
             <app-popular-address></app-popular-address>
        </div>
        
       
        <div className="top-five">
            <!-- <TopFive popularSearchList={popularSearchList}/> -->
             <app-top-five></app-top-five>
        </div>
        
    </div>
    <button onClick={resetValues}>סיום</button>
</div>